<div>
    {{> "systems/dnd5e/templates/activity/parts/activity-effect-level-limit.hbs" }}
    {{#with fields.riders.fields as |fields|}}
    {{ formField fields.activity name=(concat ../prefix "riders.activity") options=../activityOptions
                 rootId=@root.partId }}
    {{ formField fields.effect name=(concat ../prefix "riders.effect") options=../effectOptions
                 rootId=@root.partId }}
    {{ formField fields.item name=(concat ../prefix "riders.item") value=../data.riders.item
                 rootId=@root.partId }}
    {{/with}}
</div>
